* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

.cabecalho {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

.cabecalho nav a img {
  width: 140px;
  height: 70px;
}

.cabecalho nav {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  align-items: center;
}

header nav ul li a {
  color: #f5f5dc;
  margin-left: 30px;
}

.rodape {
  background-color: rgba(0, 0, 0, 0.6);
  height: 200px;
}
.rodape {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.links a {
  display: flex;
  flex-direction: column;
}
.suporte a {
  display: flex;
  flex-direction: column;
  color: red;
}
.contato a {
  display: flex;
  flex-direction: column;
  color: red;
}
.contato p {
  color: red;
}
main {
  height: 1000px;
}
.links a {
  color: red;
}

.principal {
  background-color: #ffffff;
}
.cards {
  width: 40%;
  border: 5px solid red;
  border-radius: 20px;
  height: 50px;
  background-color: white;
}
.principal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 30px;
}
